@charset "utf-8";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #8A9D8E;
    font-family: Noto Serif Jp;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.header img {
    width: 70px;
    padding: 10px 0 0 0;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.shop_name {
    color: #2b1806;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: .08em;
}

.header_nav ul {
    font-size: 1.5rem;
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 20px 10px 0 0;
}

.header_nav li {
    letter-spacing: 1px;
}

.header_nav li a:link,
.header_nav li a:visited {
    color: #2B1806;
}

.heroimage {
    position: relative;
}

.heroimage img {
    width: 100%;
    padding: 0;
    opacity: 0.6;
}

.heroimage_text {
    color: #faf0ea;
    font-size: 2rem;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%)
}

.heroimage_text1 {
    font-size: 4rem;
    margin: 0 0 36% 0;
}

.heroimage_text2 {
    margin: 0 0 5% 0;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 2px;
    color: #2B1806;
    margin-top: 25px;
    padding: 100px 0 0 0;
}

.concept_text1 {
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    color: #faf0ea;
    margin: 150px 0 120px 0;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "text1 photo1"
        "photo2 text2";
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 150px;
}

.text1 {
    grid-area: text1;
    color: #faf0ea;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 3px;
    padding: 100px 5px 0;
    background-color: #51503E;
    width: 100%;
}

.photo1 img {
    grid-area: photo1;
}

.photo2 img {
    grid-area: photo2;
}

.photo1 img,
.photo2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text2 {
    grid-area: text2;
    color: #faf0ea;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 3px;
    padding: 100px 5px 0;
    background-color: #51503E;
}

.text1 a,
.text2 a {
    display: block;
    font-size: 1rem;
    letter-spacing: normal;
    text-align: right;
    margin: 70px 20px 0 0;
    color: #f4f0ea;
}

.menu {
    background-color: #f4f0ea;
}

.menu_container {
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    width: 90%;
    margin: 80px auto 0;
}

.menu_card {
    width: 330px;
    overflow: hidden;
}

.menu_card img {
    width: 100%;
    display: block;
    transition: transform .3s;
}

.menu_card:hover img {
    transform: scale(1.05);
}

.menu_card h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    color: #2B1806;
    margin: 30px 0 15px;
}

.menu_card p {
    font-size: 1.3rem;
    line-height: 2;
    color: #2B1806;
    letter-spacing: 1.5px;
}

.menu_card a {
    display: block;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 130px;
}

.menu_card a:link,
.menu_card a:visited {
    color: #2B1806;
}

iframe {
    display: block;
    height: 400px;
    max-width: 1200px;
    width: 90%;
    margin: 100px auto 0;
}

.contact_text {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 1.8;
    color: #2B1806;
    margin: 70px auto 30px;
}

.contact_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 70px;
    margin: 30px auto 100px;
    background: #f4f0ea;
    color: #2B1806;
    border: 4px solid #51503E;
    border-radius: 999px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: .3s;
}

.contact_btn:hover {
    background-color: #2b1806;
    color: #f4f0ea;
    transform: translateY(-3px);
}

.contact_btn:active {
    transform: translateY(0);
}

footer {
    background-color: #678570;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_left {
    padding: 50px 0 0 0;
}

.footer_info {
    display: flex;
}

.footer_left img {
    width: 100px;
    padding: 0 0 0 70px;
}

.footer_left p {
    color: #f4f0ea;
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 1.8;
    margin: 0 0 50px 70px;
}

.sns {
    display: flex;
    gap: 25px;
    padding: 0 0 70px 240px;
}

.sns i {
    font-size: 2rem;
    color: #f4f0ea;
}

.footer_right {
    border-left: 1px solid rgba(255, 255, 255, .6);
    padding-left: 90px;
    margin: 20px 0 0 100px;
}

.footer_nav {
    list-style: none;
    padding: 20px 200px 0 0;
}

.footer_nav li {
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.footer_nav li a:link,
.footer_nav li a:visited {
    color: #f4f0ea
}

.copyright {
    background-color: #8a9d8e;
    font-size: 1rem;
    opacity: .6;
    text-align: center;
    padding: 20px 0;
}

/*Online shop css*/

.heroimage_online img {
    width: 100%;
    padding: 0;
    opacity: 0.6;
    margin-bottom: -26px;
}

.heroimage_text1 .online_ht1 {
    font-size: 5rem;
}

.heroimage_text1 .online_ht2 {
    font-size: 2.5rem;
    margin: 0 0 -36% 0;
}

.product_price {
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 2px;
}

.coffeemenu_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin: 0 0 100px 0;
}

.coffeemenu_item .menu_card:hover img {
    transform: none;
}

.purchase_text {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 1.8;
    color: #2B1806;
    margin: 70px auto 30px;
}

.purchase_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 70px;
    margin: 30px auto 100px;
    background: #f4f0ea;
    color: #2B1806;
    border: 4px solid #51503E;
    border-radius: 999px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: .3s;
}

.purchase_btn:hover {
    background-color: #2b1806;
    color: #f4f0ea;
    transform: translateY(-3px);
}

.purchase_btn:active {
    transform: translateY(0);
}

/*Rental room css*/

.rentalroom_item {
    display: flex;
    margin: 80px auto;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    gap: 50px;
}

.rentalroom_item img {
    width: 45%;
    display: block;
}

.rentalroom_list {
    width: 55%;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #2B1806;
}

.rentalroom_list li:last-of-type {
    list-style-type: none;
}

/*Menu css*/

.menu_container_detail {
    gap: 50px;
    max-width: 1200px;
    width: 90%;
    padding-bottom: 100px;
    margin: 0 auto;
}

h3 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 2px;
    padding: 100px 0 50px 0;
    color: #678570;
}

.menu_item {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.menu_item .menu_card:hover img {
    transform: none;
}

/*Contact css*/

.contact_form {
    margin: -100px 0 100px 0;
}

.hamburger {
    display: none;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 9999;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #2B1806;
    margin: 6px auto;
    transition: .3s;
}

.sp_nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    background: #f4f0ea;
    transition: .3s;
    z-index: 999;
}

.sp_nav ul {
    list-style: none;
    margin-top: 120px;
    text-align: center;
    padding: 0;
}

.sp_nav li {
    margin: 40px 0;
}

.sp_nav a {
    font-size: 1.3rem;
    color: #2B1806;
    text-decoration: none;
}

.sp_nav.open {
    right: 0;
}

.hamburger.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

@media(max-width: 768px) {
    .header img {
        width: 60px;
        padding: 8px 0 0 0;
    }

    .shop_name {
        color: #2b1806;
        font-size:  1.5rem;
        font-weight: 500;
        letter-spacing: .08em;
    }

    .header_nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .heroimage img {
        width: 100%;
        height: 350px;
        padding: 0;
        opacity: 0.6;
    }

    .heroimage_text {
        font-size: 1rem;
        letter-spacing: 1px;
        color: #faf0ea;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%)
    }

    .heroimage_text1 {
        font-size: 1.7rem;
        letter-spacing: 2px;
        margin: 2% 0 25% 0;
    }

    .heroimage_text2 {
        line-height: 1.5;
        margin: 0 0 3% 0;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
        letter-spacing: 2px;
        color: #2B1806;
        margin-top: 20px;
        padding: 80px 0 0 0;
    }

    .concept_text1 {
        font-size: 2rem;
        letter-spacing: 2px;
        font-weight: bold;
        text-align: center;
        color: #faf0ea;
        margin: 80px 0 100px 0;
    }

    .grid_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "text1"
            "photo1"
            "text2"
            "photo2";
        width: 90%;
    }

    .text1 {
        grid-area: text1;
        color: #faf0ea;
        text-align: center;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 2px;
        padding: 100px 0px 0;
        background-color: #51503E;
        width: 100%;
    }

    .text2 {
        grid-area: text2;
        color: #faf0ea;
        text-align: center;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 2px;
        padding: 100px 0px 0;
        background-color: #51503E;
        width: 100%;
    }

    .text1 a,
    .text2 a {
        display: block;
        font-size: 1rem;
        letter-spacing: normal;
        text-align: right;
        margin: 60px 20px 20px 0;
        color: #f4f0ea;
    }

    .menu_container {
        flex-direction: column;
        gap: 30px;
        width: 90%;
        margin: 80px auto 0;
    }

    .menu_card {
        width: 100%;
    }

    .menu_card h2 {
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: #2B1806;
        margin: 30px 0 15px;
    }

    .menu_card p {
        font-size: 1rem;
        line-height: 1.5;
        color: #2B1806;
        letter-spacing: 1.2px;
    }

    .menu_card a {
        display: block;
        text-align: right;
        margin-top: 10px;
        margin-bottom: 80px;
    }

    .contact_text {
        text-align: center;
        font-size: 1.3rem;
        letter-spacing: 1px;
        line-height: 1.5;
        color: #2B1806;
        margin: 70px auto 30px;
    }

    .contact_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 200px;
        height: 50px;
        margin: 30px auto 100px;
        background: #f4f0ea;
        color: #2B1806;
        border: 4px solid #51503E;
        border-radius: 999px;
        font-size: 1.3rem;
        font-weight: 600;
        transition: .3s;
    }

    footer {
        background-color: #678570;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer_top {
        border-bottom: 1px solid rgba(255, 255, 255, .6);
        margin: 0 30px;
    }

    .footer_left {
        padding-top: 50px;
    }

    .footer_info {
        display: flex;
    }

    .footer_left img {
        max-width: 70px;
        padding-left: 5px;
    }

    .footer_left p {
        color: #f4f0ea;
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 1.5;
        margin: 0 0 25px 30px;
    }

    .sns {
        display: flex;
        gap: 20px;
        padding: 0 0 70px 110px;
    }

    .sns i {
        font-size: 1.5rem;
        color: #f4f0ea;
    }

    .footer_right {
        border-left: none;
        margin: 20px 0 20px 0px;
    }

    .footer_nav {
        list-style: none;
    }

    .footer_nav li {
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 1.8;
        margin-bottom: 20px;
    }

    .heroimage_text1 .online_ht1 {
        font-size: 3rem;
    }

    .heroimage_text1 .online_ht2 {
        font-size: 1.5rem;
        margin: 0 0 -36% 0;
    }

    /*online shop*/

    .purchase_text {
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: 2px;
        line-height: 1.8;
        color: #2B1806;
        margin: 70px auto 30px;
    }

    .purchase_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 200px;
        height: 50px;
        margin: 30px auto 100px;
        background: #f4f0ea;
        color: #2B1806;
        border: 4px solid #51503E;
        border-radius: 999px;
        font-size: 1.3rem;
        font-weight: 600;
        transition: .3s;
    }


    /*rental room*/

    .rentalroom_item {
        flex-direction: column;
        margin: 80px auto;
        align-items: center;
        max-width: 1200px;
        width: 90%;
        gap: 50px;
    }

    .rentalroom_item img {
        width: 90%;
        display: block;
    }

    .rentalroom_list {
        width: 90%;
        font-size: 1rem;
        letter-spacing: 2px;
        line-height: 1.5;
        color: #2B1806;
    }

    /*menu*/

    .menu_container_detail {
        gap: 50px;
        max-width: 1200px;
        width: 90%;
        padding: 10px 0 100px 0;
        margin: 0 auto;
    }

    h3 {
        font-size: 2.3rem;
        text-align: center;
        letter-spacing: 2px;
        padding: 80px 0 50px 0;
        color: #678570;
    }

    .menu_item {
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }

    /*contact*/

    .contact_form {
        margin: -180px 35px 100px;
    }
}

@media(min-width: 769px) {
    .hamburger {
        display: none;
    }
}
